.patch {
	border-radius: 10px;
	width: 10rem;
	/* padding: 0 3rem; */
	font-size: var(--size-xs);
	background-color: rgba(214, 133, 11, 0);
	border: 1px solid rgba(253, 183, 77, 0.222);
	color: rgb(255, 153, 0);
	position: relative;
	transition: all 0.08s;
}

.patch::before {
	border-radius: 9px;
	content: "";
	height: 100%;
	width: 100%;
	background: radial-gradient(circle at 10% 10%, rgba(182, 89, 2, 0.671), transparent 100px),
		radial-gradient(circle at 90% 90%, rgba(253, 122, 0, 0.377), transparent 100px);
	position: absolute;
	left: 0px;
	top: 0px;
	/* transition: all ease; */
}

.patch:active {
	transform: scale(90%);

}

/* .patch:hover { */
/*   transform: scale(107%); */
/* } */

.patch-body {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}


input {
	appearance: none;

	border-radius: 50%;
	width: 16px;
	height: 16px;

	border: 2px solid #999;
	background-color: #999;
	transition: 0.04s all linear;
	margin-right: 5px;

	position: relative;
	top: 4px;
}

input:checked {
	border: 0px solid rgb(207, 66, 0);
	background-color: rgb(212, 110, 15);
	box-shadow: 0px 0px 15px 1px rgba(255, 145, 0, 0.626);
}

.step-body {
	display: flex;
	gap: 1.5rem;
}
